.inquiry {
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inquiry-col {
    flex-basis: 48%;
    color: rgb(29, 29, 29);
}



.inquiry-col .fa-message {
    color: rgb(240, 126, 4);
    margin-left: 10px;
}

.inquiry-col p {
    width: 450px;

}

.inquiry-col ul li {
    display: flex;
    align-items: center;
    margin-block: 20px;
    margin-left: 0;
    width: 300px;
}

.fa-location-dot {
    margin-right: 10px;
    font-size: xx-large;
    color: rgb(22, 22, 231);
}

.fa-phone {
    margin-right: 10px;
    font-size: xx-large;
    color: green;
}

.fa-envelope {
    margin-right: 10px;
    font-size: xx-large;
    color: rgb(22, 22, 231);
}

.inquiry form input,
.inquiry form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: none;
    outline: none;
    resize: none;
    background-color: #ebecfe;
}

.inquiry-col span {
    display: block;
    margin: 20px 0;
}

@media screen and (max-width:768px) {



    .inquiry-col p {
        width: 315px;
    }

    .inquiry-col h3 {

        padding-bottom: 30px;
    }

}

@media screen and (max-width:576px) {
    .inquiry {
        flex-direction: column;
    }
}