.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
    overflow-x: hidden;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.gallery img {
    width: 23%;
    border-radius: 10px;
}

.seeMoreBtn {
    background-color: navy;
    color: rgb(255, 241, 241);
}



@media screen and (max-width:768px) {
    .gallery {
        flex-direction: column;
    }

    .gallery img {
        width: 60%;
        margin: 20px;
    }

}